@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Fonts: Anton (Bold Display), Permanent Marker (Handwriting), Inter (Body) */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400;600&family=Permanent+Marker&display=swap');

@layer base {
  body {
    @apply bg-dark text-gray-200 font-sans antialiased;
  }
}

.text-stroke {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
  color: transparent;
}

.text-shadow-neon {
  text-shadow: 0 0 20px rgba(204, 255, 0, 0.5);
}

.bg-grid-pattern {
  background-image: linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 50px 50px;
}